/*RESET CSS MARGIN AND PADDING*/

*{
  margin: 0;
  padding: 0;
}

/* ============ NAVBAR STYLES ============ */

.navbar {
  margin-bottom: 0;
  padding: 0 10px 0 10px;
}

.navbar .nav > li > a, .navbar-header .navbar-brand{
  color: white;
  font-family: 'Raleway', sans-serif;
}

.navbar li:hover{
  transition: .75s;
  background-color: #817D62;
}

.navbar a:hover{
  transition: .75s;
}

.navbar-toggle{
  background-color: black;
  border-color: white;
  border-width: thick;
  margin: 0 auto;
  transform: translateY(50%);
  height: 25px;
  width: 40px;
}

/* ============ JUMBOTRON / LANDING STYLES ============ */

.jumbotron{
  padding: 0;
  margin: 0;
}

.jumbotron h1{
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 4vh;
}

.jumbotron h2{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}

#landing{
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bgd.jpg");
  background-size: cover;
  background-color: #000080;
  text-align: center;
}

hr{
  position: absolute;
  width: 50vh;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}

#landing-text{
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}
