/*RESET CSS MARGIN AND PADDING*/
*{
  margin: 0;
  padding: 0;
}

#background{
  background-image: url("../img/bgd.jpg");
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.icon{
  font-size: 6vh;
  display: inline;
  padding: 0;
  margin: 0;
}

/* ============ NAVBAR STYLES ============ */
.navbar {
  margin-bottom: 0;
  padding: 0 10px 0 10px;
}

.navbar .nav > li > a, .navbar-header .navbar-brand{
  color: white;
  font-family: 'Raleway', sans-serif;
}

.navbar li:hover{
  transition: .75s;
  background-color: #817D62;
}

.navbar a:hover{
  transition: .75s;
}

.navbar-toggle{
  background-color: black;
  border-color: white;
  border-width: thick;
  margin: 0 auto;
  transform: translateY(50%);
  height: 25px;
  width: 40px;
}

/* ============ LANDING STYLES ============ */
#landing-text{
  padding: 0;
  margin: 0;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

#landing-text h1{
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 7vh;
}

#landing-text h2{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}

#landing{
  width: 100vw;
  height: 100vh;
  text-align: center;
  filter:
}

hr{
  position: absolute;
  width: 50vh;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}

/* ============ SECTION STYLES ============ */
section{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  padding-top: 2%;
  background: rgba(0,0,0,0.5);
  color: white;
}

section p{
  padding: 0% 5% 5% 5%;
}

section h1{
  padding: 0;
  font-family: 'Abril Fatface', cursive;
  display: inline;
}

section > .icon{
  padding-left: 5%;
}

section> ul{
  padding-bottom: 5%;
  list-style: none;
  text-align: center;
}

section > ul > li{
  display: inline;
}

#contact > ul > li > a{
  padding-left: 3vw;
  padding-right: 3vw;
}

#contact > ul > li > a > span{
  color: white;
  font-size: 7vw;
}
